<table class="table">
  <thead>
    <tr>
        <th>Invoice number</th>
        <th>Client</th>
        <th>ID</th>
        <th>Time</th>
        <th>Total</th>
      </tr>
  </thead>
  <tbody>
      <tr ng-class="{'edited': invoice.edited, 'completed': invoice.completed}" ng-init="invoice.completed = false" ng-repeat="invoice in invoices | orderBy: 'completed'">
        <td><input ng-model="invoice.completed" type="checkbox"/>
        <label ng-click="editing=true" ng-hide="editing">{{invoice.number}}</label>
        <input ng-change="invoice.edited = true" ng-blur="editing=false;"
               ng-show="editing" ng-model="invoice.number" class="editing-label" type="text"/></td>
        <td>{{invoice.desc}}</td>
        <td>{{invoice.invoice_id}}</td>
        <td>{{invoice.time}}</td>
        <td>{{invoice.total}}</td>
        <td>
        <div class="actions">
            <a href="" ng-click="editing=!editing" class="btn btn-info">
                edit
            </a>
            <a href="" ng-click="saveInvoice(invoice, $index)" class="btn btn-success">
                save
            </a>
            <a href="" ng-click="deleteInvoice(invoice, $index)" class="btn btn-danger">
                delete
            </a>
        </div>
        <td>
      </tr>
</table>
<div><a href="" ng-click="addInvoice()">Add invoice</a></div>
