{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{% if title %} {{ title }} {% else %} {{ gettext('Add Invoice') }} {% endif %}</h1>
</div>
<form action="" method="post" name="post">
<div id="overview">
        <table class="table table-hover">
        <tr><td>{{ gettext('Invoice:') }} </td><td> {{ form.number }}</td></tr>
        <tr><td>{{ gettext('Desc:') }} </td><td> {{ form.desc }}</td></tr>
        <tr><td>{{ gettext('Invoice date:') }} </td><td> {{ form.invoice_date }} <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span></td></tr>
        <tr><td>{{ gettext('Invoice due:') }}</td><td> {{ form.invoice_due }}</td></tr>
        <tr><td>{{ gettext('Invoice issuer:') }}</td><td> {{ form.issuer }}</td></tr>
        </table>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
        <input class="bta" type="submit" value="Add">
</div>
<div id="income">
<span id="incfield">
<ul>
<li>1. Invoice line description: {{ form.desc0 }}</li>
<li>1. Sum: {{ form.sum0 }}</li>
</ul>
</span>
<a href="javascript:addIncomeField();" class="bta">{{ gettext('Add line') }}</a>
</div>
</form>
{% endblock %}
