{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{% if title %} {{ title }} {% else %} Home budget {% endif %}</h1>
</div>
<form action="" method="post" name="post">
<div id="overview">
        <table class="table table-hover">
        <tr><td>Invoice:</td><td> {{ form.number }}</td></tr>
        <tr><td>Desc:</td><td> {{ form.desc }}</td></tr>
        <tr><td>Invoice date:</td><td> {{ form.invoice_date }} <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span></td></tr>
        <tr><td>Invoice due:</td><td> {{ form.invoice_due }}</td></tr>
        <tr><td>Invoice issuer:</td><td> {{ form.issuer }}</td></tr>
        </table>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
        <input class="bta" type="submit" value="Add">
</div>
<div id="income">
<span id="incfield">
<ul>
<li>1. Invoice line description: {{ form.desc0 }}</li>
<li>1. Sum: {{ form.sum0 }}</li>
</ul>
</span>
<a href="javascript:addIncomeField();" class="bta">Add line</a>
</div>
</form>
<noscript><div id="noscript">Need's JavaScript to work!</div></noscript>
{% endblock %}
