<!DOCTYPE html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>{{ gettext('PinguInvoicer') }}</title>
    {% endif %}
    <!--link rel="stylesheet" href="/static/css/invoicer.css"-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <script src="/static/js/jquery-1.11.3.min.js"></script>
  <script src="/static/js/invoicer.js"></script>
  <script src="/static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
  <div id="wrapper">
	  <ul class="nav nav-pills">
		<li><a href="{{ url_for('index') }}" class="btn btn-primary">{{ gettext('Overview') }}</a></li>
    <li><a href="{{ url_for('add_invoice') }}" class="btn btn-success">{{ gettext('Add Invoice') }}</a></li>
    <li><a href="{{ url_for('companies') }}" class="btn btn-primary">{{ gettext('Clients') }}</a></li>
    <li><a href="{{ url_for('add_company') }}" class="btn btn-success">{{ gettext('Add Company') }}</a></li>
    </ul>
    <div>
      User info:
      {% if user %} <a href="{{ url_for('show_user', user_id=1) }}">{{ user }}</a> <a href="{{ url_for('logout') }}">logout</a> {% else %} {{ gettext('Not logged in') }} {% endif %}
    </div>
 {% block content %}
 {% endblock	%}
  </div>
  <noscript><div id="noscript">{{ gettext("Need's JavaScript to work!") }}</div></noscript>
  </body>
</html>
