{% extends "base.html" %}
{% block content %}
<div id="header">
<h1>{% if title %} {{ title }} {% else %} PinguInvoicer {% endif %}</h1>
</div>
<div id="overview">
        <h2>Company list:</h2>
        <ul>
        {% for line in companies %}
	<li><a href="{{ url_for('show_company', company_id=line.id) }}">{{ line.name }}</a>:<span> {{ line.email }} </span> <span class="numb"> {{ line.code }} </span></li>
	{% else %}
	<li>No invoices!</li>
	{% endfor %}
        </ul>
</div>
<div id="message">
</div>
<noscript><div id="noscript">Need's JavaScript to work!</div></noscript>
{% endblock %}
