{% extends "base.html" %}
{% block content %}
<form id="login" action="login" method="post">
    <h2>Register</h2>
    <fieldset id="inputs">
        <ul>
        <li><input id="name" name="name" type="text" placeholder="name" autofocus required></li>
        <li><input id="fistname" name="firstname" type="text" placeholder="firstname" required></li>
        <li><input id="password" name="password" type="password" placeholder="password" required></li>
        <li><input id="password_confirm" name="password_confirm" type="password" placeholder="password confirm" required></li>
        <li><input id="socsecnum" name="id_code" type="text" placeholder="social sec code" required></li>
        <li><input id="email" name="email" type="text" placeholder="email@comp.com" required></li>
        <li><input id="lang" name="lang" type="text" placeholder="en" required></li>
        <li><input type="submit" id="submit" value="register"></li>
        </ul>
    </fieldset>
</form>



{% endblock %}
